<div class="container">
    <div class="row">
        <div class="col-3">
            <img class="mr-3" src="http://lorempixel.com/200/150/" alt="Generic placeholder image">
            <div class="media-body">
                <h5 class="mt-0">John Smith</h5>
                <p>Web Developer</p>
                <button type="button" class="btn btn-outline-primary btn-sm">Follow</button>
            </div>
        </div>
        <div class="col-5">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Overview</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Reositories</a>
                        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Starts</a>
                        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-follower" aria-selected="false">Followers</a>
                        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-following" aria-selected="false">Following</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            <br>
                            <div class="card border-dark mb-3" style="max-width: 18rem;">
                                <div class="card-body text-dark">
                                    <h5 class="card-title">Repsitory Name</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                            <div class="card border-dark mb-3" style="max-width: 18rem;">
                                <div class="card-body text-dark">
                                    <h5 class="card-title">Repository Name</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                            <div class="card border-dark mb-3" style="max-width: 18rem;">
                                <div class="card-body text-dark">
                                    <h5 class="card-title">Repository Name</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile">
                        <div class="container">
                            <div class="row">
                                <h3>Repositories Name</h3>
                                <p>Some text here</p>
                            </div>
                            <hr>
                            <div class="row">
                                <h3>Repositories Name</h3>
                                <p>Some text here</p>
                            </div>
                            <hr>
                            <div class="row">
                                <h3>Repositories Name</h3>
                                <p>Some text here</p>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
                </div>
        </div>
    </div>
</div>