<div class="container">
    <div class="row">
        <div class="media">
            <img class="mr-3" src="http://lorempixel.com/100/100/" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0">John Smith</h5>
              <button type="button" class="btn btn-outline-primary btn-sm">Profile</button>
            </div>
        </div>
        <div class="media">
            <img class="mr-3" src="http://lorempixel.com/100/100/" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0">John Smith</h5>
              <button type="button" class="btn btn-outline-primary btn-sm">Profile</button>
            </div>
        </div>
        <div class="media">
            <img class="mr-3" src="http://lorempixel.com/100/100/" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0">John Smith</h5>
              <button type="button" class="btn btn-outline-primary btn-sm">Profile</button>
            </div>
        </div>
        <div class="media">
            <img class="mr-3" src="http://lorempixel.com/100/100/" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0">John Smith</h5>
              <button type="button" class="btn btn-outline-primary btn-sm">Profile</button>
            </div>
        </div>
        <div class="media">
            <img class="mr-3" src="http://lorempixel.com/100/100/" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0">John Smith</h5>
              <button type="button" class="btn btn-outline-primary btn-sm">Profile</button>
            </div>
        </div>
    </div>
</div>